.character-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-left: 75vh;
}

.character-card__image {
  width: 100%;
  border-radius: 8px;
}

.character-card__name {
  font-size: 1.5em;
  margin: 16px 0 8px;
}

.character-card__description {
  font-size: 1em;
  color: #555;
}
